---

---

<!-- <nav class="bg-gray-800 text-white py-4 rounded-xl m-4 font-bold">
    <div class="container mx-auto flex justify-between space-x-4">
      <a
        href="#section1"
        class="hover:underline scroll-smooth ease-in"
        onclick="document.getElementById('section1').scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' }); return false;"
        >Forsiden</a
      >
      <a
        href="#section2"
        class="hover:underline scroll-smooth ease-in"
        onclick="document.getElementById('section2').scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' }); return false;"
        >Nyt liv</a
      >
      <a
        href="#section3"
        class="hover:underline scroll-smooth ease-in"
        onclick="document.getElementById('section3').scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' }); return false;"
        >Fremtiden</a
      >
      <a
        href="#section4"
        class="hover:underline scroll-smooth ease-in"
        onclick="document.getElementById('section4').scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' }); return false;"
        >Oplevelse</a
      >
    </div>
  </nav> -->
